#primary.password-protected{
	padding: 100px 0;
	form.post-password-form{
		p{
			margin-bottom: 20px;
		}
		label{
			display: inline-block;
		}
		input{
			border: 0;
			padding: 10px;
			margin-left: 5px;
			font-family: 'Open Sans',sans-serif;
			font-size: 16px;
			color: #555;
			box-sizing: border-box;
			&[type="submit"]{
				width: 100px;
				background: #E01B8B;
				text-transform: uppercase;
				border: 0;
				padding: 10px;
				font-family: 'Open Sans',sans-serif;
				font-size: 100%;
				color: #fff;
				cursor: pointer;
				transition: background .3s;
				-webkit-transition: background .3s;
				&:hover,
				&:focus{
					background: darken(#E01B8B, 10%);
				}
			}
		}
	}
}

#page.gopitchyourself #primary.password-protected{
	form.post-password-form{
		color: $white;
	}
}