footer.entry-footer{
	overflow: hidden;
	margin-top: 30px;
	.people-in-video,
	.author-of-post{
		text-align: center;
		padding: 0;
		.row{
			padding-top: 5px;
		}
		img{
			height: auto;
			border: 7px solid #fff;
		    border-radius: 50%;
		    box-shadow: 0 0 5px #CCC;
		    display: block;
		    margin: auto;
		    height: auto;
		}
		.author-name{
			font-family: "Open Sans Condensed",Helvetica,Arial;
			display: block;
			margin: 6px auto 20px;
			padding: 2px;
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			background-color: #efefef;
			max-width: 160px;
		}
	}
	.people-in-video{
		.no-people-found{
			margin-bottom: 40px;
			font-weight: 700;
		}
	}
	.author-of-post{
		width: 20%;
		float: left;
	}
	@media (max-width: $screen-xs-max){
		.people-in-video,
		.author-of-post{
			width: 100%;
			float: none;
		}
		.post-author-container{
			width: 25%;
			margin: auto;
		}
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max){
		.people-in-video,
		.author-of-post{
			width: 100%;
			float: none;
		}
		.post-author-container{
			width: 25%;
			margin: auto;
		}
	}
	@media (max-width: 500px){
		.people-in-video .post-person{
			width: 50%;
		}
		.post-author-container{
			width: 50%;
		}
	}
}

article footer.entry-footer{
	.post-person,
	.post-item{
		padding: 0 15px;
	}
	a:focus,
	div:focus{
		outline: none;
	}
	button.slick-arrow.slick-prev{
		left: 10px;
	}
	button.slick-arrow.slick-next{
		right: 10px;
	}
	button+.slick-list{
		padding: 0 40px;
	}
}

.post-footer .top-header{
	margin-top: 40px;
}