.woocommerce-cart{
    header{
        .cart-checkout{
            float: right;
            a{
                width: auto;
                height: auto;
                float: none;
                margin: 2px 0 0;
            }
        }
    }
    table.shop_table{
        td.product-remove{
            a{
                display: inline-block;
                color: $pink;
                font-size: 30px;
                height: 30px;
                line-height: 24px;
                width: 30px;
                text-decoration: none;
                text-align: center;
                border-radius: 50%;
                border: 2px solid transparent;
                &:hover{
                    border: 2px solid $pink;
                }
            }
        }
        td.product-name{
            a{
                font-size: 26px;
                line-height: 38px;
                color: $black;
                font-family: $strong-font;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
        td.product-price,
        td.product-subtotal{
            font-size: 20px;
            line-height: 38px;
        }
        td.product-quantity{
            .input-num{
                display: block;
                float: left;
                height: 38px;
                line-height: 38px;
                width: 20px;
                text-align: center;
                cursor: pointer;
                font-size: 22px;
                font-weight: 900;
                -webkit-user-select: none;
                user-select: none;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
        }
        .quantity{
            float: left;
            &::after{
                content: "";
                display: table;
                clear: both;
            }
            input{
                width: 50px;
                border: 0;
                outline: none;
                padding: 8px;
                font-size: 16px;
                background: lighten($black, 20%);
                color: $white;
                font-weight: 700;
                text-align: center;
                float: left;
            }
        }
        td.actions{
            &::after{
                content: "";
                display: table;
                clear: both;
            }
            input{
                outline: none;
                &.button{
                    background: transparent;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $pink;
                    width: auto;
                    box-shadow: none;
                    font-size: 14px;
                    // @include transition(all 0.2s);
                    &:hover{
                        box-shadow: inset 0 0 0 2px $pink;
                    }
                }
            }
            .coupon{
                float: left;
                label{
                    display: none;
                }
                input{
                    display: inline-block;
                    height: 42px;
                    vertical-align: middle;
                    &.input-text{
                        padding: 7px;
                    }
                }
            }
            > input.button{
                float: right;
                @include transition(all 0.2s);
                &:disabled{
                    opacity: 0.3;
                    cursor: not-allowed;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
        @media (max-width: $screen-sm-max){
            display: block;
            margin: auto;
            max-width: 500px;
            thead, th{
                display: none;
            }
            tbody, tr, tr td{
                display: block;
            }
            tr td{
                text-align: right;
                clear: both;
                border: none;
                &.product-remove{
                    position: relative;
                }
                &.product-thumbnail{
                    text-align: center;
                }
                &.product-remove::before,
                &.product-thumbnail::before,
                &.actions::before{
                    content: none;
                    display: none;
                }
                &::before{
                    content: attr(data-title) ": ";
                    font-weight: 700;
                    float: left;
                }
            }
            tr.cart_item{
                margin-bottom: 40px;
            }
            .coupon{
                width: 100%;
                float: none;
                margin-bottom: 20px;
                position: relative;
                input.input-text{
                    width: 100%;
                    padding-right: 130px;
                }
                input.button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: auto;
                }
            }
            .quantity{
                float: right;
            }
        }
    }
    .wc-proceed-to-checkout{
        margin-top: 20px;
    }
    @media(max-width: $screen-sm-max){
        .cart-collaterals .cart_totals{
            width: 100%;
            float: none;
        }
    }
}
