.shop-about{
    padding-top: 40px;
    .top-header{
        margin-bottom: 60px;
    }
    h1{
        margin-top: 0;
    }
    p{
        font-size: 110%;
    }
    .about-shop-image{
        margin-bottom: 20px;
    }
}
