.slick-slider{
	.slick-list{
		z-index: 10;
	}
	.slick-dots{
		z-index: 15;
	}
	.slick-arrow{
		position: absolute;
		z-index: 15;
		top: 50%;
		width: 50px;
		height: 50px;
		background: transparent;
		color: $black;
		border: 0;

		font-size: 0;
		line-height: 0;
		color: transparent;

		&::before{
			font-family: 'FontAwesome';
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 40px;
			color: $black;
			line-height: 1;
		}

		&:focus,
		&:hover{
			outline: none;
			background: $black;
			// color: $white;
			&::before{
				color: $white;
			}
		}

		&.slick-prev{
			left: 0;
			transform: translate(-100%, -50%);
			&::before{
				content: "\f104";
			}
		}
		&.slick-next{
			right: 0;
			transform: translate(100%, -50%);
			&::before{
				content: "\f105";
			}
		}
		&.slick-disabled{
		  opacity: 0;
		  cursor: default;
		}
		@media (max-width: $screen-xs-max){
			width: 35px;
			height: 35px;
			&::before{
				font-size: 25px;
			}
		}
	}
}
.slick-slide img.slick-loading{
	border: 0;
}

.carousel .carousel-control{
	text-shadow: none;
	opacity: 1;
	&.left,
	&.right{
		background-image: none;
	}
}

.banner div {
    position: relative;
    display: none;
    &:first-child{
	  display: block;
	}
}

/* hide author carousel on front page until slick.js loads */
.carousel-author{
  display: none;
}
