.snapchat-modal .modal-content{
	background: #252523;
	color: $white;
	border-radius: 0;
	.modal-header{
		border-bottom: 0;
		min-height: 50px;
		position: relative;
		.close{
			color: $white;
			font-size: 30px;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	.modal-body{
		text-align: center;
		img{
			max-width: 300px;
			width: 100%;
		}
		p{
			margin-top: 20px;
			font-size: 16px;
		}
	}
}

.sc-ad-modal-wrapper{
	padding-top: 150px;
}
.sc-ad-modal{
	max-width: 630px;
	.modal-close{
		opacity: 0.5;
		&:hover{
			opacity: 0.8;
		}
	}
	#mc_embed_signup_modal{
		text-align: center;
		padding: 30px 10px;
		background: #000;
		border: 2px solid #fff;
		outline: 6px solid #000;
		color: #fff;
	}
	.loop-break-form{
		h2{
			font-size: 42px;
			margin: 0 0 30px;
			padding: 0 15px;
			@media (max-width: 670px){
				font-size: 36px;
			}
			@media (max-width: 580px){
				font-size: 28px;
				margin: 0 0 20px;
			}
			@media (max-width: 420px){
				font-size: 24px;
			}
			@media (max-width: 350px){
				font-size: 18px;
			}
		}
		p{
			font-size: 18px;
			@media (max-width: 580px){
				font-size: 16px;
			}
		}
	}
	.loop-break-form{
		#mc-embedded-subscribe-form .mc-field-group input{
			padding-right: 110px;
		}
		input#mc-embedded-subscribe{
			position: absolute;
			right: 10%;
			bottom: 0;
			height: 36px;
			border-radius: 0;
			width: 100px;
			@media (max-width: 530px){
				right: 30px;
				height: 34px;
			}
		}
	}
}
.lb-dataContainer{
	margin-bottom: 5px;
	margin-top: 0;
}
