.snapchat-modal .modal-content{
	background: #252523;
	color: $white;
	border-radius: 0;
	.modal-header{
		border-bottom: 0;
		min-height: 50px;
		position: relative;
		.close{
			color: $white;
			font-size: 30px;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	.modal-body{
		text-align: center;
		img{
			max-width: 300px;
			width: 100%;
		}
		p{
			margin-top: 20px;
			font-size: 16px;
		}
	}
}

.int-modal-wrapper{
	padding-top: 150px;
}
.int-modal{
	max-width: 630px;
	.modal-close{
		opacity: 0.5;
		&:hover{
			opacity: 0.8;
		}
	}
	.loop-break-form h2{
		font-size: 52px;
		margin: 0 0 50px;
		@media (max-width: 670px){
			font-size: 46px;
			margin: 0 0 40px;
		}
		@media (max-width: 580px){
			font-size: 28px;
			margin: 0 0 20px;
		}
		@media (max-width: 420px){
			font-size: 24px;
			margin: 0 0 5px;
		}
		@media (max-width: 350px){
			font-size: 18px;
			margin: 0;
		}
	}
	.loop-break-form{
		#mc-embedded-subscribe-form .mc-field-group input{
			padding-right: 110px;
		}
		input#mc-embedded-subscribe{
			position: absolute;
			right: 10%;
			bottom: 0;
			height: 36px;
			border-radius: 0;
			width: 100px;
			@media (max-width: 530px){
				right: 30px;
				height: 34px;
			}
		}
	}
}
