.outer-container{
    margin-bottom: 10px;
}
.video-embed,
.player-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    &.vine{
        width: 56%;
    }
    &.instagram{
        width: 47.56%;
    }
    iframe{
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
        &.player,
        &#player{
            opacity: 0;
        }
    }
    .btn.facebook-share{
        position: relative;
        top: 50%;
        @include translate(0, -50%);
        color: $white;
        background: #3b5999;
        font-size: 18px;
        &:hover,
        &:focus{
            background: darken(#3b5999, 10%);
            outline: none;
        }
    }
    .video-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: rgba($black, 0.9);
        img.loading{
            width: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .video-post{
            &.unloaded{
                opacity: 0;
            }
            display: block;
            opacity: 0.95;
            height: 50%;
            width: (100%/3);
            float: left;
            padding: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $white;
            img{
                height: 90%;
                width: auto;
            }
            @include transition(all 0.3s);
            &:hover{
                opacity: 1;
                transform: scale(1.03);
            }
            a{
                color: $white;
                text-decoration: none;
                span{
                    font-size: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    margin-top: 5px;
                }
            }
            @media (max-width: $screen-xs-max) {
                width: 50%;
            }
            @media (max-width: 550px) and (min-width: 351px) {
                width: 50%;
                height: 100%;
                img{
                    height: auto;
                    margin-top: 10%;
                }
            }
            @media (max-width: 350px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.video-carousel{
    .video-embed{
        margin: 0 auto;
    }
    margin-bottom: 20px;
}

.caption-slider{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $pink;
    font-style: italic;
    div{
        outline: none;
    }
}
