// @import url(https://fonts.googleapis.com/css?family=Oswald:300|Lato:400,300|Open+Sans+Condensed:300);

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon/socicon.eot');
    src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon/socicon.woff') format('woff'),
         url('../fonts/socicon/socicon.ttf') format('truetype'),
         url('../fonts/socicon/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}