body.login{
    background-image: -moz-linear-gradient(0deg, #48ceff 0%, #48ceff 20%, #f905a4 100%);
    background-image: -webkit-linear-gradient(0deg, #48ceff 0%, #48ceff 20%, #f905a4 100%);
    background-image: -ms-linear-gradient(0deg, #48ceff 0%, #48ceff 20%, #f905a4 100%);
    height: auto;
}
#login{
    max-width: 380px;
    width: auto;
    background: #fff;
    padding: 20px;
    margin-top: 8%;
    margin-bottom: 20px;
}
.login h1 a{
    background-image: url(./resources/images/whohaha_logo_small.png);
    background-size: contain;
    width: 320px;
    height: 38px;
    margin: 10px auto 0;
}
.login #login_error, .login .message{
    margin-top: 10px;
    border-bottom: 2px solid #f905a4;
    border-left: 0;
}
.login form{
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.login form .input{
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: none;
}
.login form .button.button-large{
    /*width: 200px;*/
    background: #E01B8B;
    border: 0;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    line-height: 1;
    height: auto;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    text-transform: uppercase;
}
.login form .button.button-large:hover,
.login form .button.button-large:focus{
    background: #BD0C71;
}
